.Container-Row {
  margin-top: 10px;
}

.Filters {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Leftside {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.Dropdowns {
  background-color: red !important;
  border: 1px solid black;
}
